
body {
  font-family: 'Arial', sans-serif; 
  background-color: #f0f0f0; 
  text-align: center;
}


h1 {
  color: rgb(0, 102, 153); 
}


.card-container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  margin-top: 30px;
}


.card {
  background-color: white;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  padding: 15px;
  margin: 10px;
}


.card img {
  width: 100%;
  border-radius: 10px; 
  filter: brightness(80%); 
}


.card h2 {
  color: #333;
  font-size: 20px;
}


.card p {
  font-size: 14px;
  color: #666;
}
